<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Registru</title>
	</head>
	<body>
		<%- form%>
		<style>
			body {
				background-color: #5ea0a0;
				color: #fff8f5;
				text-align: center;
			}
			#btn {
				margin-left: 50%;
				margin-top: 1rem;
				background-color: #d2afb3;
			}
			a {
				text-decoration: none;
				color: #c6a6a5;
			}
			a:hover {
				font-size: 120%;
				color: red;
			}
			#descript {
				position: fixed;
				text-align: center;
				bottom: 0px;
				width: 100%;
			}
		</style>
	</body>
</html>
